
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Epic Button Game</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .container{
                padding:100px;
            }
            #epic{
                height:150px;
                font-size:84px;
            }
        </style>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            $(document).ready(function(){
                var socket=io();
                $('#epic').click(function(){
                    socket.emit("add");
                })
                socket.on('update',function(count){
                    $('#count').text(count);
                })
                $('#reset').click(function(){
                    socket.emit("reset");
                })
            })
        </script>
    </head>
    <body>
        <div class="container">
        <h1 class="text-center">The button has been pushed <span id="count"><%=count%></span> time(s)</h1>

        <h3 class="text-center">Push the button to update the count</h3>
        <button type="button" id="epic" class="btn btn-large btn-block btn-primary">Epic Button</button>
        </div>
        
        <div class="container">
            <button type="button" id="reset"class="btn btn-large btn-block btn-danger">Reset Count</button>
        </div>
        
        
    </body>
</html>
