<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <h1>Create a new Task</h1>
  <form (submit)="create()">
    <label  for="title">Title: </label>
    <input  type="text" name="newTask.title" [(ngModel)]="newTask.title" >
    <label  for="desctiption">Description: </label>
    <input  type="text" name="newTask.description" [(ngModel)]="newTask.description">
    <button type="submit">Create</button>
  </form>
  <button (click)="getTasksFromService()">Get all the tasks</button>
  <h1>All of the tasks:</h1>
  <ul>
    <li *ngFor="let task of tasks">{{task.title}} - {{task.description}}<button (click)="showTask(task._id)">Show</button>
      <button (click)="deleteTask(task._id)">Delete</button></li>
  </ul>
  <form *ngIf="task !== undefined" (submit)="update(postData._id)">
    <label  for="title">Title: </label>
    <input  type="text" name="postData.title" [(ngModel)]="postData.title">
    <label  for="desctiption">Description: </label>
    <input  type="text" name="postData.description" [value]="postData.description" >
    <label  for="completed">Completed: (true or false) </label>
    <input  type="text" name="postData.completed" [value]="postData.completed">
    <button type="submit">Update</button>
  </form>

 <app-show-task *ngIf="showTask" [postData]="postData"></app-show-task>