<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Weather API
  </h1>

  <div class="container">
    <button [routerLink]="['/chicago']">Chicago </button>
    <button [routerLink]="['/dc']">dc </button>
    <button [routerLink]="['/seattle']">seattle </button>
    <button [routerLink]="['/burbank']">burbank</button>
    <button [routerLink]="['/sanjose']">sanjose</button>
    <button [routerLink]="['/dallas']">dallas</button>
  </div>
  <router-outlet></router-outlet>
