
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SWAPI</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <h1 class="text-center">Star Wars API</h1>
        
        <div class="container">
            <h1 class="text-center">What would you like to know about?</h1>
            <div class="text-center">
                <button type="button" id="peopleBtn" class="btn btn-info">People</button>
                <button type="button" id="planetBtn" class="btn btn-default">Planets</button>
            </div>
            <div class="container text-center" id="resultsContainer">
            
            </div>
        </div>
        

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#peopleBtn').click(function(){
                    $.get('/people', function(data){
                    // log the data to be sure we have it before we dive into manipulating the DOM
                        console.log("got the data", data);
                        populate(data,false);
                        }, 'json');
                    });
                });
                $(document).ready(function(){
                    $('#planetBtn').click(function(){
                        $.get('/planet', function(data){
                        // log the data to be sure we have it before we dive into manipulating the DOM
                            console.log("got the data", data);
                            populate(data,false);
                            }, 'json');
                        });
                    });
                function populate(data,bool){
                    if (bool!=true){
                        var myNode = document.getElementById("resultsContainer");
                            while (myNode.firstChild) {
                                myNode.removeChild(myNode.firstChild);
                            }
                    }
                        var obj= data.results;
                        for (result in obj){
                        console.log(obj[result].name);
                        var h5= document.createElement('h5');
                        var t= document.createTextNode(obj[result].name);
                        h5.appendChild(t);
                        document.getElementById('resultsContainer').appendChild(h5);

                    }
                    if (bool!=true){
                        if (data.previous != null){
                            var a = document.createElement('button');
                            var linkText=document.createTextNode("Previous 10");
                            a.appendChild(linkText);
                            a.type="button";
                            document.getElementById('resultsContainer').appendChild(a);
                            a.addEventListener("click", function(){
                                console.log(data.previous);
                                    $.get('/prev',{context:data.previous}, function(data){
                                    // log the data to be sure we have it before we dive into manipulating the DOM
                                        console.log("Clicked Previous", data);
                                        populate(data,false);
                                        }, 'json');
                                });
                        }
                        var a = document.createElement('button');
                        var linkText=document.createTextNode("Get all "+data.count);
                        a.appendChild(linkText);
                        a.type="button";
                        a.id="allbtn";
                        a.addEventListener("click",function(){
                            all(data.next,true);
                        });
                        document.getElementById('resultsContainer').appendChild(a);
                    
                        if (data.next != null){
                            var a = document.createElement('button');
                            var linkText=document.createTextNode("Get Next 10 ");
                            a.appendChild(linkText);
                            a.type="button";
                            document.getElementById('resultsContainer').appendChild(a);
                            a.addEventListener("click", function(){
                                console.log(data.next);
                                $.get('/next',{context:data.next}, function(data){
                                // log the data to be sure we have it before we dive into manipulating the DOM
                                    var planet="planet"
                                    console.log("Clicked Next", data);
                                    populate(data,false);
                                    }, 'json');
                            });
                    }
                }
                function all(context,bool){
                    $.get('/all',{context:context}, function(data){
                    // log the data to be sure we have it before we dive into manipulating the DOM
                        console.log("Clicked all", data);
                        if (data.next!=null){
                            populate(data,bool);
                            all(data.next,bool);
                            }
                        if (data.next==null){
                            return console.log("done");
                        }    
                            }, 'json');
                };
            };
                    
        </script>
    </body>
</html>
